* text=auto
*.cpp text eol=lf
*.hpp text eol=lf
*.h text eol=lf
*.cs text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.txt text eol=lf
*.vcr text eol=lf
*.ini text eol=lf
*.py text eol=lf
*.ps1 text eol=lf
*.cmd text eol=crlf
*.png binary
*.uasset binary
*.umap binary